# [Ford GoBike(Bay Wheels) System Data](https://www.lyft.com/bikes/bay-wheels/system-data)
## by (Marwa Qabeel)

## Preliminary Wrangling

> I chose to work on Ford GoBike or as it's now known as [Bay Wheels system data](https://g.co/kgs/jMbvkr), is a regional public bicycle sharing system in the San Francisco Bay Area, California operated by Motivate in a partnership with the Metropolitan Transportation Commission and the Bay Area Air Quality Management District, and it's owened by [**Lyft**](https://techcrunch.com/2019/06/11/lyft-deploys-its-pink-wheeled-bikes-and-rebrands-ford-gobike-as-bay-wheels/). I decided to invistigeted the app data for 2019.

In [1]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import glob


%matplotlib inline

> As I mentioned before, I will invstigate the app data for 2019 only, but I found the app providing monthley daasets, so I downloded datasets for the 12 months of 2019, since all files share the same columns headings,I will combine all datset into one datframe, to concatenate the datasets, [I followed this method I found on Stackoverflow](https://stackoverflow.com/questions/20906474/import-multiple-csv-files-into-pandas-and-concatenate-into-one-dataframe). 

### Overview of the dataset elements:

Each trip is anonymized and includes:

- Trip Duration (seconds)
- Start Time and Date
- End Time and Date
- Start Station ID
- Start Station Name
- Start Station Latitude
- Start Station Longitude
- End Station ID
- End Station Name
- End Station Latitude
- End Station Longitude
- Bike ID
- User Type (Subscriber or Customer – “Subscriber” = Member or “Customer” = Casual)

In [2]:
data_path = "C:/Users/computer/Documents/github_repos/Udacity-Data-Analyst-Nanodegree/Communicate_with_Data_Project/Data"

bike_data = pd.concat([pd.read_csv(f,) for f in glob.glob(data_path + "/*.csv")],ignore_index=True)

C:\Users\computer\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3249: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
C:\Users\computer\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3249: DtypeWarning: Columns (13,16) have mixed types. Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
C:\Users\computer\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [3]:
# Check the datagrame size
bike_data.shape

(2506983, 17)

In [4]:
# get a concise summary of the dataframe
bike_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2506983 entries, 0 to 2506982
Data columns (total 17 columns):
Unnamed: 14                float64
Unnamed: 15                float64
Unnamed: 16                object
bike_id                    int64
bike_share_for_all_trip    object
duration_sec               int64
end_station_id             float64
end_station_latitude       float64
end_station_longitude      float64
end_station_name           object
end_time                   object
start_station_id           float64
start_station_latitude     float64
start_station_longitude    float64
start_station_name         object
start_time                 object
user_type                  object
dtypes: float64(8), int64(2), object(7)
memory usage: 325.2+ MB

In [5]:
# read the first few lines
bike_data.head()

,Unnamed: 14,Unnamed: 15,Unnamed: 16,bike_id,bike_share_for_all_trip,duration_sec,end_station_id,end_station_latitude,end_station_longitude,end_station_name,end_time,start_station_id,start_station_latitude,start_station_longitude,start_station_name,start_time,user_type
0,NaN,NaN,NaN,4861,No,80825,196.0,37.808894,-122.256460,Grand Ave at Perkins St,24:49.9,229.0,37.775745,-122.213037,Foothill Blvd at 42nd Ave,57:44.6,Subscriber
1,NaN,NaN,NaN,5506,No,65900,134.0,37.752428,-122.420628,Valencia St at 24th St,16:54.2,4.0,37.785881,-122.408915,Cyril Magnin St at Ellis St,58:33.9,Subscriber
2,NaN,NaN,NaN,2717,No,62633,157.0,37.846784,-122.291376,65th St at Hollis St,30:46.5,245.0,37.870139,-122.268422,Downtown Berkeley BART,06:52.9,Customer
3,NaN,NaN,NaN,4557,No,44680,53.0,37.775946,-122.437777,Grove St at Divisadero,10:50.3,85.0,37.770083,-122.429156,Church St at Duboce Ave,46:09.7,Customer
4,NaN,NaN,NaN,2100,No,60709,28.0,37.787168,-122.388098,The Embarcadero at Bryant St,10:51.1,16.0,37.794130,-122.394430,Steuart St at Market St,19:01.5,Customer

In [6]:
# Primary cleaning 

bike_data.drop(['Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16'], axis=1, inplace=True)

#Explore first row from the dataframe after dropping the columns

bike_data[:1]

,bike_id,bike_share_for_all_trip,duration_sec,end_station_id,end_station_latitude,end_station_longitude,end_station_name,end_time,start_station_id,start_station_latitude,start_station_longitude,start_station_name,start_time,user_type
0,4861,No,80825,196.0,37.808894,-122.25646,Grand Ave at Perkins St,24:49.9,229.0,37.775745,-122.213037,Foothill Blvd at 42nd Ave,57:44.6,Subscriber

In [7]:
# Rearranging the columns in the dataframe

cols_rearrange = ['bike_id', 'start_station_id', 'end_station_id', 'start_station_name', 'end_station_name', 'start_station_latitude',
                 'start_station_longitude', 'end_station_latitude', 'end_station_longitude', 'start_time', 'end_time', 'duration_sec',
                 'user_type', 'bike_share_for_all_trip']

bike_data = bike_data[cols_rearrange + [col for col in bike_data.columns if col not in cols_rearrange]]

In [8]:
# Check the dataframe now
bike_data[5:8]

,bike_id,start_station_id,end_station_id,start_station_name,end_station_name,start_station_latitude,start_station_longitude,end_station_latitude,end_station_longitude,start_time,end_time,duration_sec,user_type,bike_share_for_all_trip
5,3532,245.0,266.0,Downtown Berkeley BART,Parker St at Fulton St,37.870139,-122.268422,37.862464,-122.264791,35:50.8,28:04.5,6733,Subscriber,No
6,5114,34.0,146.0,Father Alfred E Boeddeker Park,30th St at San Jose Ave,37.783988,-122.412408,37.742314,-122.423180,54:38.9,14:27.9,1188,Subscriber,No
7,3967,318.0,314.0,San Carlos St at Market St,Santa Clara St at Almaden Blvd,37.330698,-121.888979,37.333988,-121.894902,48:50.1,09:44.5,1254,Subscriber,No

#### Convert the bike time duration from seconds to minutes

In [ ]:
bike_data['duration_min'] = bike_data['duration_sec']/60

### What is the structure of your dataset?

> The conactened dataset of the dataset files of the 12 months from 2019 data, it contains more than 38.5 Million entries for public bike sharing system Ford GoBike. These entries are anonymous and contain various details about the trip in a total of 26 columns. These details include; The Bike id, The start and end station ids with latitude and longitude. I used this information to calculate distance and average speed of trip. Duration of the trip, Start and the end time of trip. I created multiple columns for the start/end month, weekday, day of month and hour of the day.

### What is/are the main feature(s) of interest in your dataset?

> The main features of interest are the months, weekdays and time of the day of high demand. How other factors like the type of subscription custmoers are, can affect them. 

### What features in the dataset do you think will help support your investigation into your feature(s) of interest?

> The distance and duration of trip will help get an insight.

## Univariate Exploration

> In this section, investigate distributions of individual variables. If
you see unusual points or outliers, take a deeper look to clean things up
and prepare yourself to look at relationships between variables.

In [9]:
bike_data.duration_sec.describe()

count    2.506983e+06
mean     8.076483e+02
std      1.974714e+03
min      6.000000e+01
25%      3.590000e+02
50%      5.710000e+02
75%      8.870000e+02
max      9.121100e+05
Name: duration_sec, dtype: float64

> Make sure that, after every plot or related series of plots, that you
include a Markdown cell with comments about what you observed, and what
you plan on investigating next.

### Exploring the Time spent on the bike

In [ ]:
bins = np.arange(0, bike_data['duration_sec'].max()+1, 1)
plt.hist(data = bike_data, x = 'duration_hr', bins = bins)
plt.xlabel('Time Duration in Seconds (sec)')
plt.show()

### Exploring the Time spent on the bike in Minutes

In [ ]:
bins = np.arange(0, bike_data['duration_min'].max()+1, 1)
#sb.countplot(data=bike_data,x='duration_hr', color=sb.color_palette()[0])
plt.hist(data = bike_data, x = 'duration_min', bins = bins)
plt.xlim([0,40])
print("Reached")
plt.xlabel('Time Duration in Minutes (min)')
plt.show()

### Discuss the distribution(s) of your variable(s) of interest. Were there any unusual points? Did you need to perform any transformations?

> Your answer here!

### Of the features you investigated, were there any unusual distributions? Did you perform any operations on the data to tidy, adjust, or change the form of the data? If so, why did you do this?

> Your answer here!

## Bivariate Exploration

> In this section, investigate relationships between pairs of variables in your
data. Make sure the variables that you cover here have been introduced in some
fashion in the previous section (univariate exploration).

### Talk about some of the relationships you observed in this part of the investigation. How did the feature(s) of interest vary with other features in the dataset?

> Your answer here!

### Did you observe any interesting relationships between the other features (not the main feature(s) of interest)?

> Your answer here!

## Multivariate Exploration

> Create plots of three or more variables to investigate your data even
further. Make sure that your investigations are justified, and follow from
your work in the previous sections.

### Talk about some of the relationships you observed in this part of the investigation. Were there features that strengthened each other in terms of looking at your feature(s) of interest?

> Your answer here!

### Were there any interesting or surprising interactions between features?

> Your answer here!

> At the end of your report, make sure that you export the notebook as an
html file from the `File > Download as... > HTML` menu. Make sure you keep
track of where the exported file goes, so you can put it in the same folder
as this notebook for project submission. Also, make sure you remove all of
the quote-formatted guide notes like this one before you finish your report!