<a href="https://colab.research.google.com/github/Maiven/AI_Python/blob/main/Python/python_DecimalPoint_handle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 자리수 조절(소수점,올림,반올림)

## 반올림
- 소수점을 n번째 까지만 표현하고 반올림을 하고싶을때, round 함수를 사용하면된다.

In [4]:
n = 7/15
print(n)


print(round(n,2))


print(round(n,4))


print(round(n))


print(type(round(n)))

0.4666666666666667
0.47
0.4667
0
<class 'int'>

- 원하는 자리수만 표현이 가능하다. 두번째매개변수를 비우면 소수점 첫번째자리를 반올림하여 나타낸다.

In [ ]:
>>> round(1.77777777777777

- 소수점이아닌 정수도 반올림을 할 수 있다.

In [3]:
print(round(12345,-1))


print(round(12345,-2))

12340
12300

## 올림, 내림, 버림

- 올림,내림,버림을 하기위해서 math 클래스안의 ceil, floor, trunc 함수를 사용해야한다.

math.ceil(i) : 올림

math.floor(i) : 내림

math.trunc(i) : 버림

In [ ]:
import math

>>> math.ceil(12.2)
13
>>> math.ceil(12.6)
13
>>> math.floor(12.2)
12
>>> math.floor(12.6)
12
>>> math.trunc(12.2)
12
>>> math.trunc(12.6)
12